"input_data" "scenario_A" "scenario_B" "threshold_scenario_A" "threshold_scenario_B"
"original" "recent_complete,ancient_complete" "neutral,recent_incomplete,ancient_incomplete" "FALSE" "0.01"
"boosting_1:scenario_B" "neutral" "recent_incomplete,ancient_incomplete" "0.99" "FALSE"
"boosting_1:scenario_A" "recent_complete" "ancient_complete" "0.95" "0.05"
"boosting_2:scenario_B" "recent_incomplete" "ancient_incomplete" "0.95" "0.05"
